@{
    ViewData["Title"] = "MVC";
}

@if (ViewBag.EnvironmentName == "Development")
{
    <app-root>Loading (debug)...</app-root>
    <div>My Test Local</div>
}
else
{    
    <app-root>Loading...</app-root>
    <div>My Test Prod</div>
}
