<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/angular-dist/app/browser/favicon.ico">
    <link rel="stylesheet" href="/angular-dist/app/browser/styles.css">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="/angular-dist/app/browser/polyfills.js" defer></script>
        <script src="/angular-dist/app/browser/main.js" defer></script>
    </environment>
    <environment exclude="Development">              
        @* File names are with hashed characters. *@
        <script src="/angular-dist/app/browser/polyfills*.js" defer></script>
        <script src="/angular-dist/app/browser/main*.js" defer></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>